<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net46" />
  <package id="Antlr3.Runtime.PCL" version="3.5.0.3" targetFramework="net46" />
  <package id="Faker.Net" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net46" />
  <package id="Sitecore.Analytics.Aggregation.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.Automation.Aggregation.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.MongoDB.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Analytics.Sql.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Cintel.Client.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Cintel.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EDS.Core.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Analytics.Model.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Cd.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Cm.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Content.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.ExperienceAnalytics.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Server.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.ExM.Framework.NoReferences" version="3.4.161028" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.ListManagement.ContentSearch.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.ListManagement.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.ListManagement.Services.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.NoReferences" version="8.2.160729" targetFramework="net46" developmentDependency="true" />
  <package id="WebGrease" version="1.5.2" targetFramework="net46" />
</packages>