<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes">
      <sc.variable name="exmExperienceGeneratorSource" value="C:\Projects\xGenerator" />
  </sitecore>
</configuration>
