<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="ExmExperienceGenerator" description="Exm ExperienceGenerator content">
          <targetDataStore physicalRootPath="$(experienceGeneratorSource)\src\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="ExmExperienceGenerator.Core.Application" database="core" path="/sitecore/client/Applications/ExmExperienceGenerator"/>
            <include name="ExmExperienceGenerator.Core.Button" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Exm Experience Generator"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>