<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Analytics.AutoDetectBots" value="false" />
      <setting name="Analytics.Robots.IgnoreRobots" value="false" />
    </settings>
    <pipelines>      
      <initializeTracker>
        <processor type="Colossus.Integration.PatchTracker, Colossus.Integration" patch:before="*[@type='Sitecore.Analytics.Pipelines.InitializeTracker.RunRules, Sitecore.Analytics']" />
      </initializeTracker>      
      <renderLayout>
        <processor type="Colossus.Integration.GetContextInfo, Colossus.Integration" patch:after="*[last()]" />
      </renderLayout>
      <mvc.requestEnd>
        <processor type="Colossus.Integration.MvcExecuteActions, Colossus.Integration"></processor>
      </mvc.requestEnd>
    </pipelines>    
  </sitecore>  
</configuration>