<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="ExperienceGenerator" description="ExperienceGenerator content">
          <targetDataStore physicalRootPath="$(experienceGeneratorSource)\src\serialization\ExperienceGenerator" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="ExperienceGenerator.Core.Application" database="core" path="/sitecore/client/Applications/ExperienceGenerator">
              <exclude childrenOfPath="Common/Contacts"/>
              <exclude childrenOfPath="Common/Presets"/>
            </include>
            <include name="ExperienceGenerator.Core.Application.Link" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Experience Generator" />
            <include name="ExperienceGenerator.Core.Application.Contacts.Link" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Contact Experience Generator" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>