<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ExperienceGenerator.Client.Infrastructure.SitecoreRouteInitializer, ExperienceGenerator.Client" />        
      </initialize>
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Applications/ExperienceGenerator" deep="true" category="experienceGenerator" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
    
    <settings>
       <!--  ExperienceGenerator.DistributedEnvironment
           This setting needs to be enabled in Content Management Environment.
           
           Note: in Sitecore 8.1 config Sitecore.ExperienceAnalytics.WebAPI.config should be enabled.
           
           Default: false
      -->
      <setting name="ExperienceGenerator.DistributedEnvironment" value="false"/>
    </settings>  
    <experienceGenerator>
      <excludeSites>
        <site name="shell" />
        <site name="login" />
        <site name="admin" />
        <site name="service" />
        <site name="modules_shell" />
        <site name="modules_website" />
        <site name="scheduler" />
        <site name="system" />
        <site name="system_layouts" />
        <site name="publisher" />
        <site name="printstudio" />
      </excludeSites>
    </experienceGenerator>
  </sitecore>
</configuration>
