<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or Processing">
        <aggregation>
            <module type="Sitecore.Analytics.Aggregation.AggregationModule" singleInstance="true">
                <BackgroundServices hint="list:Add">
                    <aggregator type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param desc="maxAgents">
                            <patch:attribute name="arg0">4</patch:attribute>
                        </param>
                    </aggregator>
                    <contactProcessing type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param desc="maxAgents">
                            <patch:attribute name="arg0">4</patch:attribute>
                        </param>
                    </contactProcessing>
                    <rebuild type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param desc="maxAgents">
                            <patch:attribute name="arg0">4</patch:attribute>
                        </param>
                    </rebuild>
                    <history type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param desc="maxAgents">
                            <patch:attribute name="arg0">4</patch:attribute>
                        </param>
                    </history>
                    <historyCompletionCheck type="Sitecore.Analytics.Core.AsyncBackgroundService">
                        <param desc="maxAgents">
                            <patch:attribute name="arg0">4</patch:attribute>
                        </param>
                    </historyCompletionCheck>
                </BackgroundServices>
            </module>           
        </aggregation>
    </sitecore>
</configuration>

